@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Niconne&family=Patrick+Hand&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  margin: auto;
  background-color: #ffbf00;
  max-height: 700px;
}

body {
  margin: 0;
}
h1 {
  margin: 0;
  font-family: "Patrick Hand", cursive;
}

.dateInput {
  width: 50%;
  padding: 0.5rem;
}

.numberInput {
  width: 50%;
  padding: 0.5rem;
}

.checkBtn {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ed872d;
  border: none;
}

.outputDiv {
  font-size: 4rem;
  font-family: "Niconne", cursive;
}

.cake {
  font-size: 5rem;
}
